<div class="tooltip-content">
  <table border="0" cellspacing="0" cellpadding="0">
	<% events.sort_by {|e| [e.start_time || end_of_day, e.name]}.each do |event| %>
    <tr>
      <td class="time"><%= h event.time(:format => '%l:%M %p') if event.time %></td>
      <td>
				<span class="artist"><%= h event.name %><br/>
				<span class="title">
					<%= sanitize(event.short_description, :tags => %w(strong em b i sup sub br)) || '&nbsp;' %>
				</span>
		</td>
    </tr>
	<% end %>
    <tr>
      <td class="time">7p</td>
      <td><span class="artist">Artist/Event<br/><span class="title">Title/Brief Description</span></td>
    </tr>
  </table>
</div>

<% 
	# other available attributes
	# h event.category
	# h event.location
%>